<a href="https://colab.research.google.com/github/kajalpandey110/digipodium-data-analytic/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#function definition
def pythagoras(base,perpendicular):
  return(base**2+ perpendicular**2)**0.5

In [2]:
#function calling
pythagoras(3,4)

5.0

In [6]:
pythagoras(10,9)

13.45362404707371

In [7]:
pythagoras(perpendicular=2,base=10)

10.198039027185569

f(x)=x^2+2x+1
f(2)=9
f(15)=256
g(x,y)=x^2+2xy+y^2
g(2,3)=25

lambda expressions-for making anonymous functions(1 line functions)

In [8]:
f=lambda x:x**2+2*x+1
print(f(2))
print(f(3))
print(f(10))
print(f(15))

9
16
121
256

In [9]:
g=lambda x,y:x**2+2*x*y+y**2
print(g(2,3))
print(g(3,4))

25
49

In [20]:
h=lambda p,b:(p**2+b**2)**0.5
print(h(3,4))

5.0

In [21]:
#what is the amount after 16% discount on 12000
12000*(1 - .16)

10080.0

In [29]:
prices=[10000,30000,12999,50000,43999,10500]

ans=[]
for i in range(len(prices)):
  var=prices[i]*(1- .16)
  #print(var)
  ans.append(var)
print(ans)

[8400.0, 25200.0, 10919.16, 42000.0, 36959.159999999996, 8820.0]

In [35]:
prices=[10000,30000,12999,50000,43999,10500]
dis_prices=[]
for price in prices:
    ans= price*(1 -.16)
    dis_prices.append(ans)

print(prices)
print(dis_prices)

[10000, 30000, 12999, 50000, 43999, 10500]
[8400.0, 25200.0, 10919.16, 42000.0, 36959.159999999996, 8820.0]

In [39]:
dis_price=list(map(lambda p:p*(1 - .16),prices))
print(dis_price)

[8400.0, 25200.0, 10919.16, 42000.0, 36959.159999999996, 8820.0]

In [ ]:
x=[1,2,4,6,7,5,8,21]
square=list(map(lambda y:y**2,x))
print(square)