<a href="https://colab.research.google.com/github/kajalpandey110/digipodium-data-analytic/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
movies=['shrek','kungu fu panda','ddlj','the jumgle book','doraemon','alladin','lion king','harry potter','coco','little princess']
print(f'total movies={len(movies)}')

total movies=10

In [8]:
for movie in movies:
  print(movie,len(movie))

shrek 5
kungu fu panda 14
ddlj 4
the jumgle book 15
doraemon 8
alladin 7
lion king 9
harry potter 12
coco 4
little princess 15

In [13]:
for movie in movies:
    print(f'{movie:50}{len(movie)}')

shrek                                             5
kungu fu panda                                    14
ddlj                                              4
the jumgle book                                   15
doraemon                                          8
alladin                                           7
lion king                                         9
harry potter                                      12
coco                                              4
little princess                                   15

In [18]:
nums=[32,56,23,56,12,12,67,56,7,2]
for i in nums:
  print(i,'=',i**2)

32 = 1024
56 = 3136
23 = 529
56 = 3136
12 = 144
12 = 144
67 = 4489
56 = 3136
7 = 49
2 = 4

In [24]:
for i in nums:
  if i%2==0:
    print(i,'=',i**2)

32 = 1024
56 = 3136
56 = 3136
12 = 144
12 = 144
56 = 3136
2 = 4

In [25]:
sum(nums)

323

In [27]:
total_evens=0
for i in nums:
  if i%2==0:
    total_evens +=i
print(total_evens)

226

In [28]:
for i in nums:
  print(i)
  if i>60:
    break

32
56
23
56
12
12
67

In [31]:
x=['apple','potato','banana','','orange','mango']
for item in x:
  if  len(item)==0:
    break
  print(item)

apple
potato
banana

In [38]:
errors=0
while True:
  username=input('enter username :')
  password =input('enter password :')
  if username =='admin' and password=='secret':
    print('login successful')
    break
  elif errors == 3:
      print('too many errors')
      break
  else:
      print('invalid username/password')
  errors += 1

enter username :kajal
enter password :1234
invalid username/password
enter username :kajal
enter password :345
invalid username/password
enter username :admin
enter password :secret
login successful